html body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-size: 1.2em;
  background-color: #dedede;
  color: #474747;
}
.app {
  margin-top: 5px;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.container-fluid {
  height: 100%;
}
.toast-top-right {
  top: 50px;
  right: 12px;
}
.character-dashboard {
  height: 100%;
}
