@import '../../core/core-variables';

.character-panel {
  border: 2px solid @grey;

  .row {
    border-top: 1px solid @grey;
    border-bottom: 1px solid @grey;
    margin-bottom: 2px;
  }

  .character-panel-label {
    background-color: @dark-grey;
    color: @white;
  }
}