@import "../core/core";

.login-container {
  h2 {
    margin-top: 0;
  }

  hr {
    margin: 10px 0;
  }

  .input {
    margin-bottom: 5px;

    label {
      margin-top: 5px;
      font-size: 1.2em;
      font-weight: bold;
    }

    .input-group-addon:first-child {
      width: 48px;
    }
  }
}